---
import PostList from '../../components/PostList.vue';
import { getPublishedBlogEntriesByTag,getTags } from '../../helper/blog';
import Footer from '../../layouts/Footer.vue';
import Header from '../../layouts/Header.vue';
import Layout from '../../layouts/Layout.astro';
import metadata from '../../metadata.json';

export async function getStaticPaths() {
  const tags = await getTags(true);
  return tags.map((tag) => ({
    params: { tag },
  }));
}

const { tag } = Astro.params;

const pageTitle = `Posts tagged with ${tag} | ${metadata.pageTitle}`;
const blogEntries = await getPublishedBlogEntriesByTag(tag);
const posts = blogEntries.map((entry) => ({
  ...entry.data,
  url: `/posts/${entry.slug}`,
}));
---

<Layout title={pageTitle}>
  <Header extended={true} />
  <main>
    <PostList posts={posts} />
  </main>
  <Footer />
</Layout>
