---
import SocialMetaTags from '../components/SocialMetaTags.vue';
import TagList from '../components/TagList.vue';
import Header from '../layouts/Header.vue';
import metadata from '../metadata.json';
import Footer from './Footer.astro';
import Layout from './Layout.astro';

const { frontmatter } = Astro.props;
const pageTitle = `${frontmatter.title} | ${metadata.pageTitle}`;
---

<Layout title={pageTitle}>
  <SocialMetaTags
    contentType="article"
    url={frontmatter.url}
    title={pageTitle}
    description={frontmatter.description}
    imageUrl="/cover.png"
    slot="head"
  />
  <Header />
  <main>
    <h1 class="text-center">{frontmatter.title}</h1>
    <slot />
  </main>
  <Footer class="flex flex-col items-center">
    <TagList tags={frontmatter.tags} slot="top" />
  </Footer>
</Layout>
